@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Parisienne&display=swap");
.aboutGodiva .subVisual {
  height: calc(100vh - 12rem);
  min-height: 60rem;
  background-image: url(../../assets/img/sub_about/mainbg.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutGodiva .subVisual .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.aboutGodiva .subVisual .text p {
  top: -2rem;
  margin: 0;
  font-size: 3rem;
  font-weight: 200;
  font-family: 'Nunito Sans';
  color: #3c2820;
}

.aboutGodiva .subVisual .text .title {
  top: -2rem;
  font-size: 9rem;
  line-height: 10rem;
  color: #3c2820;
}

.aboutGodiva .subVisual .text .type {
  top: -3rem;
  font-size: 6.7rem;
}

.aboutGodiva .subVisual .subGroup {
  position: absolute;
  bottom: 19%;
  left: calc(50% - 15rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.aboutGodiva .subVisual .subGroup a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  height: 5rem;
  font-size: 1.7rem;
  text-align: center;
  color: #3c2820;
  border: 0.1rem solid #3c2820;
  border-right: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.aboutGodiva .subVisual .subGroup a:nth-child(2) {
  border-right: 0.1rem solid #3c2820;
}

.aboutGodiva .subVisual .subGroup a:hover {
  background-color: #3c2820;
  color: #f8f4eb;
}

@media (max-width: 640px) {
  .aboutGodiva .subVisual {
    height: 20rem;
    background-size: cover;
    min-height: auto;
    background-position: top;
  }
  .aboutGodiva .subVisual .text {
    top: -0.5rem;
  }
  .aboutGodiva .subVisual .text p {
    top: 0;
    font-size: 1.4rem;
  }
  .aboutGodiva .subVisual .text .title {
    top: 0;
    font-size: 4rem;
    line-height: 4rem;
  }
  .aboutGodiva .subVisual .text .type {
    display: none;
  }
  .aboutGodiva .subVisual .subGroup {
    position: relative;
    top: 0;
    left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .aboutGodiva .subVisual .subGroup a {
    width: auto;
    border: none;
    background: #f8f4eb;
    color: #3c2820;
    border: 1px solid #3c2820;
  }
  .aboutGodiva .subVisual .subGroup a:nth-child(1) {
    border-left: none;
    border-right: none;
  }
  .aboutGodiva .subVisual .subGroup a:nth-child(2) {
    border-left: none;
    border-right: none;
    border-top: none;
  }
}

.aboutGodiva .miniBanner {
  height: 11rem;
  width: 100%;
  background-image: url(../../assets/img/sub_about/label.jpg);
  background-position: center;
  background-size: cover;
}

.aboutGodiva .miniBanner .off {
  right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 2.1rem;
  color: #f8f4eb;
}

.aboutGodiva .miniBanner .off svg {
  margin-left: 2rem;
}

@media (max-width: 1080px) {
  .aboutGodiva .miniBanner .off {
    right: 10%;
  }
}

@media (max-width: 640px) {
  .aboutGodiva .miniBanner {
    top: 10rem;
    height: 8rem;
  }
  .aboutGodiva .miniBanner .off {
    right: 0;
  }
  .aboutGodiva .miniBanner .off svg {
    margin-right: 2rem;
  }
}

.aboutGodiva .menuList .list .bg {
  width: 100%;
  height: 42rem;
  background-size: cover;
  background-position: center;
}

.aboutGodiva .menuList .list .mBg {
  width: 100%;
  height: 55rem;
  background-size: cover;
  background-position: center;
  display: none;
}

.aboutGodiva .menuList .list .subText {
  position: absolute;
}

.aboutGodiva .menuList .story .bg {
  background-image: url(../../assets/img/sub_about/storybg.jpg);
}

.aboutGodiva .menuList .story .mBg {
  background-image: url(../../assets/img/sub_about/m_storybg.jpg);
}

.aboutGodiva .menuList .story .subText {
  top: calc(50% - 15rem);
  right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
}

.aboutGodiva .menuList .story .subText .title {
  color: #3c2820;
}

.aboutGodiva .menuList .story .subText .type {
  color: #f8f4eb;
}

.aboutGodiva .menuList .story .subText .ex {
  color: #3c2820;
}

.aboutGodiva .menuList .story .subText .deialisBtn {
  border: 0.1rem solid #3c2820;
  color: #3c2820;
}

.aboutGodiva .menuList .story .subText .deialisBtn:hover {
  color: #f8f4eb;
  background: #3c2820;
}

.aboutGodiva .menuList .shop .bg {
  background-image: url(../../assets/img/sub_about/storebg.jpg);
}

.aboutGodiva .menuList .shop .mBg {
  background-image: url(../../assets/img/sub_about/m_storebg.jpg);
}

.aboutGodiva .menuList .shop .subText {
  top: calc(50% - 15rem);
  left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
}

.aboutGodiva .menuList .shop .subText .title {
  color: #f8f4eb;
}

.aboutGodiva .menuList .shop .subText .type {
  color: #cdb376;
}

.aboutGodiva .menuList .shop .subText .ex {
  color: #f8f4eb;
}

.aboutGodiva .menuList .shop .subText .deialisBtn {
  border: 0.1rem solid #f8f4eb;
  color: #f8f4eb;
}

.aboutGodiva .menuList .shop .subText .deialisBtn:hover {
  color: #3c2820;
  background: #f8f4eb;
}

@media (max-width: 1080px) {
  .aboutGodiva .menuList .story .subText {
    right: 10%;
  }
  .aboutGodiva .menuList .shop .subText {
    left: 10%;
  }
}

@media (max-width: 640px) {
  .aboutGodiva .menuList {
    top: 10rem;
  }
  .aboutGodiva .menuList .story .bg, .aboutGodiva .menuList .shop .bg {
    display: none;
  }
  .aboutGodiva .menuList .story .mBg, .aboutGodiva .menuList .shop .mBg {
    display: block;
  }
  .aboutGodiva .menuList .story .subText, .aboutGodiva .menuList .shop .subText {
    top: 7rem;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutGodiva .menuList .story .subText .title, .aboutGodiva .menuList .shop .subText .title {
    top: -1rem;
  }
  .aboutGodiva .menuList .story .subText .type, .aboutGodiva .menuList .shop .subText .type {
    left: 0;
    right: 0;
  }
  .aboutGodiva .menuList .shop .subText .title {
    color: #3c2820;
  }
  .aboutGodiva .menuList .shop .subText .type {
    color: #f8f4eb;
  }
  .aboutGodiva .menuList .shop .subText .ex {
    color: #3c2820;
  }
  .aboutGodiva .menuList .shop .subText .deialisBtn {
    border: 0.1rem solid #3c2820;
    color: #3c2820;
  }
  .aboutGodiva .menuList .shop .subText .deialisBtn:hover {
    color: #f8f4eb;
    background: #3c2820;
  }
}

@media (max-width: 640px) {
  .aboutPage .contact {
    top: 10rem;
  }
  .aboutPage .footer {
    top: 10rem;
  }
}
/*# sourceMappingURL=aboutgodiva.css.map */