@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Parisienne&display=swap");
.godivaMenu .subVisual {
  height: calc(100vh - 12rem);
  min-height: 60rem;
  background-image: url(../../assets/img/sub_menu/bg_mainimage.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.godivaMenu .subVisual .text {
  top: -4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.godivaMenu .subVisual .text p {
  top: 4rem;
  margin: 0;
  font-size: 5.6rem;
  font-weight: 200;
  font-family: 'Nunito Sans';
}

.godivaMenu .subVisual .text .title {
  font-size: 18rem;
  line-height: normal;
}

.godivaMenu .subVisual .text .type {
  top: -5rem;
  font-size: 8rem;
}

.godivaMenu .subVisual .subGroup {
  position: absolute;
  bottom: 23%;
  left: calc(50% - 30rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.godivaMenu .subVisual .subGroup a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  height: 5rem;
  font-size: 1.7rem;
  text-align: center;
  border: 0.1rem solid #3c2820;
  border-right: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.godivaMenu .subVisual .subGroup a:nth-child(4) {
  border-right: 0.1rem solid #3c2820;
}

.godivaMenu .subVisual .subGroup a:hover {
  background-color: #3c2820;
  color: #f8f4eb;
}

@media (max-width: 1080px) {
  .godivaMenu .subVisual {
    height: calc(100vh - 16rem);
  }
  .godivaMenu .subVisual .text {
    top: -2rem;
  }
  .godivaMenu .subVisual .text p {
    font-size: 4rem;
  }
  .godivaMenu .subVisual .text .title {
    font-size: 14rem;
  }
  .godivaMenu .subVisual .text .type {
    font-size: 6rem;
  }
  .godivaMenu .subVisual .subGroup {
    bottom: 27%;
  }
}

@media (max-width: 640px) {
  .godivaMenu .subVisual {
    height: 20rem;
    background-size: cover;
    min-height: auto;
    background-position: top;
  }
  .godivaMenu .subVisual .text {
    top: -0.5rem;
  }
  .godivaMenu .subVisual .text p {
    top: 2rem;
    font-size: 2rem;
  }
  .godivaMenu .subVisual .text .title {
    font-size: 7rem;
  }
  .godivaMenu .subVisual .text .type {
    display: none;
  }
  .godivaMenu .subVisual .subGroup {
    position: relative;
    top: 0;
    left: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .godivaMenu .subVisual .subGroup a {
    width: auto;
    border: none;
    background: #f8f4eb;
    color: #3c2820;
    border: 1px solid #3c2820;
  }
  .godivaMenu .subVisual .subGroup a:nth-child(1) {
    border-left: none;
    border-right: none;
  }
  .godivaMenu .subVisual .subGroup a:nth-child(2) {
    border-right: none;
  }
  .godivaMenu .subVisual .subGroup a:nth-child(3) {
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .godivaMenu .subVisual .subGroup a:nth-child(4) {
    border-right: none;
    border-top: none;
  }
}

.godivaMenu .miniBanner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.godivaMenu .miniBanner a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.godivaMenu .miniBanner .double {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11rem;
}

.godivaMenu .miniBanner .hot {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 10%;
  background: #3c2820;
  color: #f8f4eb;
  font-size: 4rem;
  font-weight: 900;
}

.godivaMenu .miniBanner .hot p {
  margin-right: 5%;
  margin-bottom: 0;
  font-family: 'Nunito Sans';
}

.godivaMenu .miniBanner .today {
  padding-left: 10%;
  background: #ffffff;
}

.godivaMenu .miniBanner .today p {
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
}

.godivaMenu .miniBanner .today img {
  height: 6rem;
  width: auto;
  margin-left: 2rem;
}

.godivaMenu .miniBanner .today svg {
  margin-left: 5%;
  font-size: 4rem;
}

@media (max-width: 1080px) {
  .godivaMenu .miniBanner .double {
    height: 8rem;
  }
  .godivaMenu .miniBanner .hot {
    font-size: 2.1rem;
  }
  .godivaMenu .miniBanner .today img {
    height: 5rem;
  }
  .godivaMenu .miniBanner .today svg {
    font-size: 2.1rem;
  }
}

@media (max-width: 640px) {
  .godivaMenu .miniBanner {
    top: 10rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .godivaMenu .miniBanner .double {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .godivaMenu .miniBanner .hot {
    padding-right: 0;
  }
  .godivaMenu .miniBanner .today {
    padding-left: 0;
  }
}

.godivaMenu .menuList .list .bg {
  width: 100%;
  height: 42rem;
  background-size: cover;
  background-position: center;
}

.godivaMenu .menuList .list .mBg {
  width: 100%;
  height: 55rem;
  background-size: cover;
  background-position: center;
  display: none;
}

.godivaMenu .menuList .list .subText {
  position: absolute;
}

.godivaMenu .menuList .choco .bg {
  background-image: url(../../assets/img/sub_menu/bg_choco.jpg);
}

.godivaMenu .menuList .choco .mBg {
  background-image: url(../../assets/img/sub_menu/m_bg_choco.jpg);
}

.godivaMenu .menuList .choco .subText {
  top: calc(50% - 13rem);
  left: 20%;
  text-align: start;
}

.godivaMenu .menuList .choco .subText .type {
  left: 5rem;
}

.godivaMenu .menuList .drink .bg {
  background-image: url(../../assets/img/sub_menu/bg_drink.jpg);
}

.godivaMenu .menuList .drink .mBg {
  background-image: url(../../assets/img/sub_menu/m_bg_drink.jpg);
}

.godivaMenu .menuList .drink .subText {
  top: calc(50% - 15rem);
  right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
}

.godivaMenu .menuList .drink .subText .type {
  left: -5rem;
  color: #cdb376;
}

.godivaMenu .menuList .ice .bg {
  background-image: url(../../assets/img/sub_menu/bg_ice.jpg);
}

.godivaMenu .menuList .ice .mBg {
  background-image: url(../../assets/img/sub_menu/m_bg_ice.jpg);
}

.godivaMenu .menuList .ice .subText {
  top: calc(50% - 15rem);
  left: 20%;
  text-align: start;
}

.godivaMenu .menuList .ice .subText .type {
  left: 15rem;
}

.godivaMenu .menuList .snack .bg {
  background-image: url(../../assets/img/sub_menu/bg_snack.jpg);
}

.godivaMenu .menuList .snack .mBg {
  background-image: url(../../assets/img/sub_menu/m_bg_snack.jpg);
}

.godivaMenu .menuList .snack .subText {
  top: calc(50% - 13rem);
  right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
}

.godivaMenu .menuList .snack .subText .title {
  color: #f8f4eb;
}

.godivaMenu .menuList .snack .subText .type {
  right: 15rem;
  color: #cdb376;
}

.godivaMenu .menuList .snack .subText .ex {
  color: #f8f4eb;
}

.godivaMenu .menuList .snack .subText .deialisBtn {
  border: 0.1rem solid #f8f4eb;
  color: #f8f4eb;
}

.godivaMenu .menuList .snack .subText .deialisBtn:hover {
  color: #3c2820;
  background: #f8f4eb;
}

@media (max-width: 1080px) {
  .godivaMenu .menuList .choco .subText, .godivaMenu .menuList .ice .subText {
    left: 10%;
  }
  .godivaMenu .menuList .drink .subText, .godivaMenu .menuList .snack .subText {
    right: 10%;
  }
}

@media (max-width: 640px) {
  .godivaMenu .menuList {
    top: 10rem;
  }
  .godivaMenu .menuList .list .bg {
    display: none;
  }
  .godivaMenu .menuList .list .mBg {
    display: block;
  }
  .godivaMenu .menuList .list .subText {
    top: 7rem;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .godivaMenu .menuList .list .subText .title {
    top: -1rem;
  }
  .godivaMenu .menuList .list .subText .type {
    left: 0;
    right: 0;
  }
}

@media (max-width: 640px) {
  .menuPage .contact {
    top: 10rem;
  }
  .menuPage .footer {
    top: 10rem;
  }
}
/*# sourceMappingURL=godivamenu.css.map */