@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Parisienne&display=swap");
.onlineExclusive .subVisual {
  height: calc(100vh - 12rem);
  min-height: 60rem;
  background-image: url(../../assets/img/sub_online/bgmain.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.onlineExclusive .subVisual .text {
  top: -1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.onlineExclusive .subVisual .text p {
  top: -2rem;
  margin: 0;
  font-size: 3rem;
  font-weight: 200;
  font-family: "Nunito Sans";
  color: #f8f4eb;
}
.onlineExclusive .subVisual .text .title {
  top: -2rem;
  font-size: 9rem;
  line-height: 10rem;
  color: #f8f4eb;
}
.onlineExclusive .subVisual .text .title span:nth-child(1) {
  letter-spacing: 3.2rem;
  left: 1.6rem;
}
.onlineExclusive .subVisual .text .type {
  top: -3rem;
  font-size: 6.7rem;
}
.onlineExclusive .subVisual .subGroup {
  position: absolute;
  bottom: 19%;
  left: calc(50% - 22.5rem);
  display: flex;
  margin: 0;
}
.onlineExclusive .subVisual .subGroup a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 5rem;
  font-size: 1.7rem;
  text-align: center;
  color: #f8f4eb;
  border: 0.1rem solid #f8f4eb;
  border-right: none;
  transition: 0.3s;
}
.onlineExclusive .subVisual .subGroup a:nth-child(3) {
  border-right: 0.1rem solid #f8f4eb;
}
.onlineExclusive .subVisual .subGroup a:hover {
  background-color: #f8f4eb;
  color: #3c2820;
}
@media (max-width: 640px) {
  .onlineExclusive .subVisual {
    height: 20rem;
    background-size: cover;
    min-height: auto;
    background-position: top;
  }
  .onlineExclusive .subVisual .text {
    top: -0.5rem;
  }
  .onlineExclusive .subVisual .text p {
    top: 0;
    font-size: 1.4rem;
  }
  .onlineExclusive .subVisual .text .title {
    top: 0;
    font-size: 4rem;
    line-height: 4rem;
  }
  .onlineExclusive .subVisual .text .title span:nth-child(1) {
    letter-spacing: 1.4rem;
    left: 0.8rem;
  }
  .onlineExclusive .subVisual .text .type {
    display: none;
  }
  .onlineExclusive .subVisual .subGroup {
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto;
  }
  .onlineExclusive .subVisual .subGroup a {
    width: auto;
    border: none;
    background: #f8f4eb;
    color: #3c2820;
    border: 1px solid #3c2820;
  }
  .onlineExclusive .subVisual .subGroup a:nth-child(1) {
    border-left: none;
    border-right: none;
  }
  .onlineExclusive .subVisual .subGroup a:nth-child(2) {
    border-right: none;
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .onlineExclusive .subVisual .subGroup a:nth-child(3) {
    border-left: none;
    border-right: none;
    border-top: none;
  }
}
.onlineExclusive .miniBanner {
  height: 11rem;
  width: 100%;
  background-image: url(../../assets/img/sub_online/label.jpg);
  background-position: center;
  background-size: cover;
}
.onlineExclusive .miniBanner .off {
  right: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 2.1rem;
  color: #f8f4eb;
}
.onlineExclusive .miniBanner .off svg {
  margin-left: 2rem;
}
@media (max-width: 1080px) {
  .onlineExclusive .miniBanner .off {
    right: 10%;
  }
}
@media (max-width: 640px) {
  .onlineExclusive .miniBanner {
    top: 15rem;
    height: 8rem;
  }
  .onlineExclusive .miniBanner .off {
    right: 0;
  }
  .onlineExclusive .miniBanner .off svg {
    margin-right: 2rem;
  }
}
.onlineExclusive .menuList .online .bg {
  width: 100%;
  height: 42rem;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/img/sub_online/bgshop.jpg);
}
.onlineExclusive .menuList .online .mBg {
  width: 100%;
  height: 55rem;
  background-size: cover;
  background-position: center;
  display: none;
  background-image: url(../../assets/img/sub_online/m_bgshop.jpg);
}
.onlineExclusive .menuList .online .subText {
  position: absolute;
  top: calc(50% - 15rem);
  right: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}
.onlineExclusive .menuList .online .subText .title {
  color: #cdb376;
}
.onlineExclusive .menuList .online .subText .type {
  color: #f8f4eb;
}
.onlineExclusive .menuList .online .subText .ex {
  color: #cdb376;
}
.onlineExclusive .menuList .online .subText .deialisBtn {
  border: 0.1rem solid #cdb376;
  color: #cdb376;
}
.onlineExclusive .menuList .online .subText .deialisBtn:hover {
  color: #3c2820;
  background: #cdb376;
}
@media (max-width: 1080px) {
  .onlineExclusive .menuList .online .subText {
    right: 10%;
  }
}
@media (max-width: 640px) {
  .onlineExclusive .menuList {
    top: 15rem;
  }
  .onlineExclusive .menuList .online .bg {
    display: none;
  }
  .onlineExclusive .menuList .online .mBg {
    display: block;
  }
  .onlineExclusive .menuList .online .subText {
    top: 7rem;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .onlineExclusive .menuList .online .subText .title {
    top: -1rem;
  }
  .onlineExclusive .menuList .online .subText .type {
    left: 0;
    right: 0;
  }
}
.onlineExclusive .collection .wrap {
  display: flex;
  height: 42rem;
  width: 100%;
  overflow: hidden;
}
.onlineExclusive .collection .wrap .left {
  position: absolute;
  height: 100%;
  width: calc(50% + 20rem);
  filter: grayscale(0.8) brightness(0.9);
  transition: 0.3s;
}
.onlineExclusive .collection .wrap .left .rotate {
  left: -20rem;
  height: 100%;
  width: 100%;
  transform: skewX(-15deg);
  overflow: hidden;
}
.onlineExclusive .collection .wrap .left .rotate .bg {
  left: 10rem;
  height: 100%;
  width: 100%;
  background: url(../../assets/img/sub_online/bgnow1.jpg);
  background-position: center center;
  background-size: cover;
  transform: skewX(15deg);
  cursor: pointer;
}
.onlineExclusive .collection .wrap .left:hover {
  filter: none;
}
.onlineExclusive .collection .wrap .right {
  position: absolute;
  left: 50%;
  height: 100%;
  width: calc(50% + 20rem);
  filter: grayscale(0.8) brightness(0.9);
  transition: 0.3s;
}
.onlineExclusive .collection .wrap .right .rotate {
  height: 100%;
  width: 100%;
  transform: skewX(-15deg);
  overflow: hidden;
}
.onlineExclusive .collection .wrap .right .rotate .bg {
  left: -10rem;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover !important;
  background: url(../../assets/img/sub_online/bgnow2.jpg);
  transform: skewX(15deg);
  cursor: pointer;
}
.onlineExclusive .collection .wrap .right:hover {
  filter: none;
}
.onlineExclusive .collection .text {
  position: absolute;
  top: 13.5rem;
  left: calc(50% - 20rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40rem;
  height: 18rem;
  font-family: "Nunito Sans";
  font-size: 4.2rem;
  font-weight: 900;
  color: #3c2820;
  text-align: center;
  text-shadow: 0.2rem 0.2rem 0rem #f8f4eb;
}
@media (max-width: 640px) {
  .onlineExclusive .collection {
    top: 15rem;
  }
  .onlineExclusive .collection .wrap {
    height: 55rem;
  }
  .onlineExclusive .collection .text {
    top: 23.5rem;
    left: calc(50% - 15rem);
    height: 11rem;
    width: 30rem;
    font-size: 3rem;
  }
}

@media (max-width: 640px) {
  .onlinePage .contact {
    top: 15rem;
  }
  .onlinePage .footer {
    top: 15rem;
  }
}/*# sourceMappingURL=onlineexclusive.css.map */