@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Parisienne&display=swap');

//color
$black: #000000;
$white: #ffffff;
$red: #d60000;

$main1: #3c2820;
$main2: #cdb376;
$main3: #f8f4eb;
$main4: #f2f2f2;

$navi: #f7e1aa; 
$shadow: rgba(207,182,110,0.3);

//반응형
$mobileS: 580px;
$mobileL: 640px;
$tablet: 750px;
$tabletL: 992px;
$desktop: 1080px;
$desktopBg: 1279px;

@mixin mobileS{
    @media(max-width: $mobileS){
        @content;
    }
}

@mixin mobileL{
    @media(max-width: $mobileL){
        @content;
    }
}

@mixin tablet{
    @media(max-width: $tablet){
        @content;
    }
}

@mixin tabletL{
    @media(max-width: $tabletL){
        @content;
    }
}

@mixin desktop{
    @media(max-width: $desktop){
        @content;
    }
}

@mixin desktopBg{
    @media(max-width: $desktopBg){
        @content;
    }
}




