@charset 'utf-8';
@import '_utils';

html{
    font-size: 10px;

    body{
        a{
            color: $main1;
        }

        button, input[type=button], input[type=reset], input[type=submit]{
            cursor: pointer;
        }

        .container{
            max-width: 120rem;
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            margin-right: auto;
            margin-left: auto;
            text-align: left;

            @include desktopBg{
                max-width: 97rem;
            }

            @include tabletL{
                max-width: 72rem;
            }

        }
    }
}

@include mobileS{
    html{
        font-size: 8px;
    }
}