@charset 'utf-8';
@import '_utils';

//background
.chocoBg{
    background-image: url(../../assets/img/main/choco_bg2.png); 
    background-color: $main3; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover;
}
@include desktopBg{
    .chocoBg{
        background-image:none;
    }
}

//event
.event{
    height: 100vh;
    min-height: 60rem;

    .container{
        display: flex; 
        top: calc(50% - 22.5rem); 
        padding: 0;
        font-family: 'Noto Sans KR';

        &>div{
            flex: 1;
        }

        .left{
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            height: 45rem; 
            color: $main1;
            //.text부터는 subtitle.scss

            .list{
                width: 27rem;
                font-size: 1.7rem; 
                font-weight: bold; 
                
                li{
                    padding: 1rem 0; 
                    margin: 1rem 0; 
                    cursor: pointer;
                }
            }
        }
        
        .right{
            .cardGroup{
                display: flex;
                //.card부터는 card.scss

                //모바일 리스트
                .list{
                    display: none;
                }
            }
        }
    }
}

//event 미디어쿼리
@include desktop{
    .event{
        height: 100%;

        .container{
            flex-direction: column; 
            padding: 10rem 4rem;

            .left{
                margin-bottom: 3rem;

                .list{
                    display: none;
                }
            }
        }
    }
}

@include mobileL{
    .event{
        padding: 5rem 0;

        .container{
            padding: 6rem 4rem;

            .right{
                .cardGroup{
                    flex-wrap: wrap;

                    .list{
                        display: flex;
                        flex-direction: column; 
                        justify-content: center;
                        width: 50%; 
                        margin-bottom: 0; 
                        font-size: 2.5vw; 
                        font-weight: bold; 
                        
                        li{
                            padding: 1rem 1rem; 
                            margin: 0.5rem 1rem; 
                            cursor: pointer;
                        }
                    }
                }
            }
            
        }
    }
}

//today choco
.today{
    height: 40rem;
    background: url(../../assets/img/main/today_bg.jpg); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    .container{
        display: flex; 
        align-items: center; 
        justify-content: center; 
        height: 100%;
        padding: 0; 
        
        .right{
            display: flex;
            font-family: 'Nunito Sans';
            
            .choco{
                border-left: 0.1rem solid $main1; 
                margin: 0 3rem;
            }

            .contents{
                display: flex; 
                flex-direction: column; 
                justify-content: center;
                color: $main1;
                font-size: 1.7rem; 
                
                .name{
                    margin-bottom: 2rem;
                    font-weight: 900;
                }

                .ex{
                    max-width: 43rem;
                    margin-bottom: 2rem; 
                    font-family: 'Noto Sans KR'; 
                    
                }

                input{
                    width: 10rem; 
                    padding: 1rem 2rem; 
                    background: none; 
                    border: 1px solid $main1; 
                    font-weight: 900; 
                    color: $main1;
                }

            }
        }

        .go{
            display: none;
        }
    }
}