@charset 'utf-8';
@import '_utils';

//background
.chocoBg{
    background-image: url(../../assets/img/main/choco_bg2.png); 
    background-color: $main3; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover;
}
@include desktopBg{
    .chocoBg{
        background-image:none;
    }
}

//event
.event{
    height: 100vh;
    min-height: 60rem;

    .container{
        display: flex; 
        top: calc(50% - 22.5rem); 
        padding: 0;

        &>div{
            flex: 1;
        }

        .left{
            display: flex; 
            flex-direction: column; 
            justify-content: center; 
            height: 45rem; 
            color: $main1;
            //.text부터는 subtitle.scss

            .list{
                width: 27rem;
                font-size: 1.7rem; 
                font-weight: bold; 
                
                li{
                    padding: 1rem 0; 
                    margin: 1rem 0; 
                    cursor: pointer;
                }
            }
        }
        
        .right{
            .cardGroup{
                display: flex;
                
                .card{
                    position: absolute; 
                    top: 0;
                    perspective: 150rem; 
                    transform: rotate(0deg); 
                    transition: 1s;
        
                    &:not(.logo){
                        width: 40rem;
                        height: 45rem;
                    }
        
                    .wrap{ 
                        position: absolute;
                        right: 0; 
                        transform-style: preserve-3d; 
                        transition: 1s; 
                        cursor: pointer;
        
                        .back{
                            position: absolute; 
                            top: 0; 
                            display: flex; 
                            flex-direction: column; 
                            align-items: center;
                            justify-content: center; 
                            width: 100%; 
                            height: 100%;
                            padding: 2rem; 
                            background: $main1; 
                            color: $main2; 
                            border-radius: 1.5rem;
                            transform: rotateY(180deg); 
                            text-align: center; 
                            font-size: 1.7rem; 
                            backface-visibility: hidden;
        
                            span{
                                width: 10rem; 
                                padding: 0.5rem; 
                                margin-top: 1rem;
                                border: 0.2rem solid $main2; 
                            }
                        }
                    }
        
                    &:nth-child(1){
                        right: calc(20vw + 52rem); 
                        top: 30rem; 
                        transform: rotateY(180deg); 
                        z-index: 30; 
                        cursor: auto;
        
                        img{
                            width: auto;
                        }
                    }
        
                    &:nth-child(2){
                        right: 20vw;
                        z-index: 20; 
                    }
        
                    &:nth-child(3){
                        right: 10vw;
                        z-index: 10; 
                    }
        
                    &:nth-child(4){
                        right: 0;
                    }
        
                    &:hover{
                        &:not(.logo){
                            z-index: 50; 
                            transform: rotate(5deg);
        
                            .wrap{
                                transform: rotateY(180deg);
                            }
                        }
                    }
        
                    // addclass
                    .hover{
                        z-index: 50 !important; 
                        transform: rotate(5deg) !important;
        
                        .wrap{
                            transform: rotateY(180deg)
                        }
                    }
                }

                //모바일 리스트
                .list{
                    display: none;
                }
            }
        }
    }
}

//event 미디어쿼리
@include desktop{
    .event{
        height: 100%;

        .container{
            flex-direction: column; 
            padding: 10rem 4rem;

            .left{
                margin-bottom: 3rem;

                .list{
                    display: none;
                }
            }

            .right{
                .cardGroup{
                    .card{
                        position: relative;
                        right: 0 !important; 
                        width: 33.3%; 
                        height: auto !important;
        
                        .wrap{
                            position: relative;
        
                            img{
                                width: 100%;
                            }
        
                            .back{
                                font-size: 1.4rem;
                            }
        
                        }
        
                        &:nth-child(1){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@include mobileL{
    .event{
        padding: 5rem 0;

        .container{
            padding: 6rem 4rem;

            .right{
                .cardGroup{
                    flex-wrap: wrap;

                    .card{
                        width: 50% !important;
                    }

                    .list{
                        display: flex;
                        flex-direction: column; 
                        justify-content: center;
                        width: 50%; 
                        margin-bottom: 0; 
                        font-size: 2.5vw; 
                        font-weight: bold; 
                        
                        li{
                            padding: 1rem 1rem; 
                            margin: 0.5rem 1rem; 
                            cursor: pointer;
                        }
                    }
                }
            }
            
        }
    }
}

//today choco
.today{
    height: 40rem;
    background: url(../../assets/img/main/today_bg.jpg); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    .container{
        display: flex; 
        align-items: center; 
        justify-content: center; 
        height: 100%;
        padding: 0; 
        
        .right{
            display: flex;
            font-family: 'Nunito Sans';
            
            .choco{
                border-left: 0.1rem solid $main1; 
                margin: 0 3rem;
            }

            .contents{
                display: flex; 
                flex-direction: column; 
                justify-content: center;
                color: $main1;
                font-size: 1.7rem; 
                
                .name{
                    margin-bottom: 2rem;
                    font-weight: 900;
                }

                .ex{
                    max-width: 43rem;
                    margin-bottom: 2rem; 
                    
                }

                input{
                    width: 10rem; 
                    padding: 1rem 2rem; 
                    background: none; 
                    border: 1px solid $main1; 
                    font-weight: 900; 
                    color: $main1;
                }

            }
        }

        .go{
            display: none;
        }
    }
}

//today choco 미디어쿼리
@include desktop{
    .today{
        background: url(../../assets/img/main/m_today_bg.jpg); 
        background-position: center; 
        background-size: cover;

        .container{
            padding: 0 4rem;

            .right{
                .choco{
                    display: flex;
                    align-items: center;
                    max-width: 25rem;
                    margin: 0 2rem;

                    img{
                        width: 100%;
                    }
                }

                .contents{
                    .ex{
                        display: none;
                    }
                }
            }
        }
    }
}

@include mobileL{
    .today{
        .container{
            .right{
                flex-direction: column; 
                align-items: center;

                .choco{
                    border-left: none;
                }

                .contents{
                    input{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

@include mobileS{
    .today{
        .container{
            flex-direction: column;

            .right{
                display: none;
            }

            .go{
                display: block; 
                background: none; 
                border: 0.1rem solid #3c2820; 
                width: 20rem; 
                padding: 1.5rem; 
                font-size: 1.4rem; 
                font-weight: bold; 
                margin: 2rem auto;
            }
        }
    }
}

//godiva menu

.gMenu{
    display: flex; 
    align-items: center;
    height: 100vh; 
    min-height: 60rem; 

    .container{
        display: flex; 
        align-items: center; 
        height: 100%; 
        padding: 0; 

        .box{
            display: grid; 
            grid-template-columns: repeat(6,auto); 
            grid-template-rows: repeat(3, auto); 
            margin: 0 auto;
            max-width: 120rem; 

            a{
                &:not(:nth-child(3)){
                    max-height: 24rem;
                    overflow: hidden; 
                    cursor: pointer;
                }

                &:nth-child(1){
                    grid-column: 1/4; 
                    grid-row: 1/2
                }

                &:nth-child(2){
                    grid-column: 4/7; 
                    grid-row: 1/2
                }

                &:nth-child(3){
                    grid-column: 1/7; 
                    grid-row: 2/3;
                    text-align: center; 
                    font-family: 'Nunito Sans'; 
                    font-weight: 900; 
                    font-size: 5rem;
                    color: $main1; 

                    .menuTitle{
                        display: flex; 
                        align-items: center; 
                        justify-content: center;

                        span{
                            &:nth-child(7){
                                width: 1rem;
                                height: 4rem;
                            }
                        }
                    }
                }

                &:nth-child(4){
                    grid-column: 1/3; 
                    grid-row: 3/4;
                }

                &:nth-child(5){
                    grid-column: 3/5; 
                    grid-row: 3/4;
                }

                &:nth-child(6){
                    grid-column: 5/7; 
                    grid-row: 3/4;
                }

                &:hover{
                    img{
                        transform: scale(1.2)
                    }

                    .contents{
                        top:calc(100% - 10rem);
                    }

                    .over{
                        top:0;
                    }
                } 
                
            }

            .boxover{
                img{
                    display: block; 
                    width: 100%; 
                    transform: scale(1); 
                    transition: 0.5s
                }
    
                .contents{
                    position: absolute; 
                    top: calc(100% - 5rem); 
                    color: $white; 
                    padding: 0 1.5rem; 
                    z-index: 10; 
                    transition: 0.5s;

                    h4{
                        font-size: 1.7rem;
                        font-weight: 500;
                        line-height: 1.1;
                        margin: 1rem 0;
                    }

                    span{
                        display: block; 
                        width: 5rem; 
                        height: 0.2rem; 
                        background: $white; 
                        margin-bottom: 1rem;
                    }

                    p{
                        font-size: 1.4rem;
                    }
                }
    
                .mobile{
                    display: none;
                }
    
                .over{
                    position: absolute; 
                    top: 100%;
                    width: 100%; 
                    height: 100%; 
                    background: $main1; 
                    opacity: 0.9;
                }
            }

            &:hover{
                a{
                    &:nth-child(3){
                        span{
                            &:nth-child(1){
                                @include animation(0s, 2s,view);
                            }
                            &:nth-child(2){
                                @include animation(0.2s, 2s, view);
                            }
                            &:nth-child(3){
                                @include animation(0.9s, 2s, view);
                            }
                            &:nth-child(4){
                                @include animation(0.1s,2s, view);
                            }
                            &:nth-child(5){
                                @include animation(0.7s, 2s, view);
                            }
                            &:nth-child(6){
                                @include animation(0.6s, 2s, view);
                            }
                            &:nth-child(8){
                                @include animation(0.4s, 2s, view);
                            }
                            &:nth-child(9){
                                @include animation(0.3s, 2s, view);
                            }
                            &:nth-child(10){
                                @include animation(0.8s, 2s, view);
                            }
                            &:nth-child(11){
                                @include animation(0.5s, 2s, view);
                            }
                        }
                    }
                }
            }
        }
    }
}

@include keyframe (view) {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//godiva menu 미디어쿼리
@include desktop{
    .gMenu{
        height: 100%;

        .container{
            padding: 10rem 4rem;
        }
    }
}

@include mobileL{
    .gMenu{
        padding: 5rem 0;

        .container{
            padding: 6rem 4rem;

            .box{
                grid-template-columns: repeat(2,auto) !important; 
                grid-template-rows: repeat(5, auto) !important;

                a{
                    &:nth-child(1){
                        grid-column: 1/3; 
                        grid-row: 1/2;
                    }
                    &:nth-child(2){
                        grid-column: 1/3; 
                        grid-row: 2/3;
                    }
                    &:nth-child(3){
                        grid-column: 1/3; 
                        grid-row: 3/4; 
                        font-size: 3rem;
                    }
                    &:nth-child(4){
                        grid-column: 1/2; 
                        grid-row: 5/6;
                    }
                    &:nth-child(5){
                        grid-column: 1/3; 
                        grid-row: 4/5;
                    }
                    &:nth-child(6){
                        grid-column: 2/3; 
                        grid-row: 5/6;
                    }
                }

                .boxover{
                    .mobile{
                        display: block;
                    }

                    .desktop{
                        display: none;
                    }
                }
            }
        }
    }
}

//매장찾기 배너
.store{
    height: 11rem;
    background-color: $main1;

    .container{
        display: flex; 
        align-items: center;
        height: 100%;

        .iceImg{
            height: 11rem;

            img{
                display: block;
                height: 100%;
            }
        }

        .text{
            flex: 1;
                text-align: center;

            .title{
                color: $main3; 
                font-size: 2.8rem; 
                font-weight: bold; 
                top:1.5rem; 
                right: 6rem;
                line-height: 1.5;

                span{
                    color: $main3;
                    font-weight: 100;
                }
            }
            .type{
                left: 12rem;
                top: -1rem
            }
        }

        input{
            background: none; 
            color: $main3; 
            padding: 1.5rem 2.5rem; 
            font-size: 1.4rem; 
            border: 0.2rem solid $main3;
        }
    }
}

@include desktop{
    .store{
        .container{
            padding: 0 4rem;

            .iceImg{
                display: flex;
                align-items: flex-end;

                img{
                    height: 90%;
                }
            }

            .text{
                .title{
                    right: 3rem;
                    top: 1rem;
                    font-size: 2rem;
                }

                .type{
                    left: 9rem;
                    top: -0.5rem;
                    font-size: 3rem;
                }

            }
        }
    }
}

@include mobileL{
    .store{
        .container{
            .text{
                .title{
                    right: 0;
                    top: 0.5rem;
                    font-size: 1.7rem;
                }
                .type{
                    left: 0;
                    top: 0;
                    font-size: 2rem;
                }
            } 

            input{
                display: none;
            }
        }
    }
}  

//instagram
.insta{
    font-family: 'Nunito Sans'; 
    font-weight: 900;

    .instaGroup{
        display: grid; 
        grid-template-columns: repeat(6, auto); 
        grid-template-rows: repeat(2, auto); 
        width: 100%; 

        .box{
            font-size: 1.4rem;

            &:nth-child(1){
                grid-column: 1/3; 
                grid-row: 1/3;

                .imgText{
                    bottom: 0;
                    margin: 4rem 2rem; 
                }
            }
            &:nth-child(2){
                grid-column: 3/4; 
                grid-row: 1/2;
            }
            &:nth-child(3){
                grid-column: 4/5; 
                grid-row: 1/2; 
                background: $main1; 
                color: $main3;

                div{
                    position: absolute; 
                    text-align: center; 
                    top: calc(50% - 5rem); 
                    left: calc(50% - 3.5rem);
                }
            }
            &:nth-child(4){
                grid-column: 5/6; 
                grid-row: 1/2;
            }
            &:nth-child(5){
                grid-column: 6/7; 
                grid-row: 1/2;
            }
            &:nth-child(6){
                grid-column: 3/4; 
                grid-row: 2/3;
            }
            &:nth-child(7){
                grid-column: 4/5; 
                grid-row: 2/3;
            }
            &:nth-child(8){
                grid-column: 5/6; 
                grid-row: 2/3;
            }
            &:nth-child(9){
                grid-column: 6/7; 
                grid-row: 2/3; 
                background: $navi; 
                color: $main1;

                div{
                    position: absolute; 
                    text-align: center; 
                    top: calc(50% - 1.5rem); 
                    left: calc(50% - 5.5rem);
                }
            }
            
            .boxWrap{
                display: flex; 
                align-items: center; 
                overflow: hidden;

                img{
                    display: block; 
                    width: 100%; 
                    height: 100%;
                }
    
                .imgText{
                    position: absolute; 
                    margin: 10px; 
                    color: $white; 
                    z-index: 10; 
                    font-weight: 100;
                    text-align: left; 
                    opacity: 0; 
                    transition: 0.3s;
    
                    .heart{
                        font-weight: bold;
                    }
    
                    .mType{
                        display: none;
                    }
                }
    
                .backColor{
                    position: absolute; 
                    top: 0; 
                    width: 100%; 
                    height: 100%; 
                    background: rgba(0,0,0,0.9); 
                    opacity: 0; 
                    transition: 0.3s
                }
    
                &:hover{
                    .imgText{
                        opacity: 1;
                    }
                    .backColor{
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//insta 미디어쿼리
@include desktop{
    .insta{
        .instaGroup{
            .box{
                .boxWrap{
                    .imgText{
                        .type{
                            display: none;
                        }

                        .mType{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

@include tablet{
    .insta{
        .instaGroup{
            .box{
                font-size: 1.1rem;

                &:nth-child(3){
                    div{
                        top: calc(50% - 4.3rem); 
                        left: calc(50% - 2.8rem);
                    }
                }
                &:nth-child(9){
                    div{
                        top: calc(50% - 1.5rem); 
                        left: calc(50% - 4.5rem);
                    }
                }
            }
        }
    }
}

@include mobileL{
    .insta{
        .instaGroup{
            grid-template-columns: repeat(4, auto); 
            grid-template-rows: repeat(3, auto);

            .box{
                font-size: 1.1rem;

                &:nth-child(1){
                    grid-column: 1/3; 
                    grid-row: 1/3;
                }
                &:nth-child(2){
                    grid-column: 3/4; 
                    grid-row: 1/2;
                }
                &:nth-child(3){
                    grid-column: 3/4; 
                    grid-row: 2/3;
                }
                &:nth-child(4){
                    grid-column: 4/5; 
                    grid-row: 1/2;
                }
                &:nth-child(5){
                    grid-column: 4/5; 
                    grid-row: 2/3;
                }
                &:nth-child(6){
                    grid-column: 3/4; 
                    grid-row: 3/4;
                }
                &:nth-child(7){
                    grid-column: 4/5; 
                    grid-row: 3/4;
                }
                &:nth-child(8){
                    grid-column: 1/2; 
                    grid-row: 3/4;
                }
                &:nth-child(9){
                    grid-column: 2/3; 
                    grid-row: 3/4;
                }
            }
        }
    }
}

//email
.email{
    height: 11rem;
    font-family: 'Nunito Sans'; 

    .container{
        display: flex; 
        align-items: center;
        padding: 0; 
        height: 100%; 
        
        &>input{
            width: 85%; 
            height: 3.5rem; 
            border: 0.2rem solid $main1; 
            color: $main1; 
            padding: 0 1rem; 

            &::placeholder{
                color: $main1;
            }

            &:focus{
                outline: none; 
                box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.2);
            }
        }

        .sign{
            width: 15%; 
            height: 3.5rem;

            input{
                position: absolute; 
                right: 0;
                width: 100%;
                height: 3.5rem; 
                border: none; 
                color: $main1; 
                background: none; 
                font-size: 1.7rem; 
                font-weight: 900;
                font-family: 'Nunito Sans'; 
            }

            &>div{
                position: absolute; 
                left: 20%; 
                top: 31px; 
                width: 60%; 
                height: 4px; 
                overflow: hidden;
                
                span{
                    left: -100%;
                    display: block; 
                    width: 100%; 
                    height: 4px;
                    background: $red; 
                    animation-fill-mode: forwards
                }
            }
        }
    }
}