@charset 'utf-8';
@import '_utils';

//main slider
.mobileSlider{
    display: none;
}

@include mobileL{
    .mainSlider{
        display: none;
    }

    .mobileSlider{
        display: block;
    }
}

//regular event
.regularEvent{
    background: $white;

    .container{
        display: flex; 
        align-items: center; 
        width: 100%;
        height: 11rem; 
        padding: 0; 
        overflow: hidden;
        
        .title{
            margin: 0 20px;
            text-transform: uppercase;
            letter-spacing: 1px; 
            font-size: 1.7rem; 
            font-weight: bold; 
            z-index: 100;

            span{
                &:last-child{
                    letter-spacing: 0.38rem;
                }
            }
        }

        .regularSlider{
            position: absolute;
            left: 0;
            width: 100%;

            .rEvent{
                display: flex !important; 
                align-items: flex-start;
                justify-content: center;
                font-size: 1.7rem;
                height: 100%; 
                width: 100%;  
                margin-left: 5rem;
                background: $white; 

                li{
                    margin: 0 2rem;

                    span{
                        text-decoration: underline; 
                        cursor: pointer; 
                        font-weight: bold;
                    }
                }

            }
        }
    }

    //mobile regular event 
    .mContainer{
        display: none;
        height: 8rem;
        margin-bottom: 0;
        
        li{
            line-height: 8rem;
            height: 100%;     
            width: 100%; 
            background: white; 
            font-size: 1.7rem;
            text-align: center;

            span{
                text-decoration: underline; 
                cursor: pointer; 
                font-weight: bold;
            }
        }
    }

    @include tablet{
        .container{
            display: none;
        }

        .mContainer{
            display: block;
        }
    }
}

